body{
    background-color: #E8E8E8;
}

header{
    height: 73px;
    width: 82.7%;
    margin: auto;
}
main{
    height: 2000px;
    margin-top: 71px;
}
.a_foot1{
    height: 200px;
}
.a_foot2{
    height: 200px;
}
.img-fluid {
    max-width: 100%;
    height: 70px;
}
.a_menu > li :hover{
    background-color: rgb(99, 62, 62);
}






























@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}